# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary / Cache / Database files
*.sqlite
*.sqlite3
*.log
*.tmp
node_modules/
vendor/
